<div class="container" style="margin-top: 90px" ng-controller="CalendarCtrl as cCtrl">
    <div class="row">
        <div class="col-xs-6 offset-2 transp" style="margin-left: 100px; padding-bottom: 40px; padding-left: 50px; padding-right: 50px;">
            <div style="margin-top: 50px">
                <h3>Calendar View</h3>
            </div>
            <div class="calendar">
            <calendar selected="day">

            </calendar>
            </div>
                <div style="display:inline-block">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create Event</button>
                 <!--   <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#rangeModal">Search in range</button> -->
                </div>
            </div>
        <div class="col-xs-4 transp" style="margin-left: 30px; padding-left: 20px; padding-right: 20px;">
            <div ng-show="(!eventExists)">
                <h3>No event</h3>
            </div>
            <div ng-show="eventExists">
                <ul>
                    <li ng-repeat="eventT in eventsToday">
                        {{eventT.name}} at {{eventT.loc}} at {{eventT.date | date: 'hh:mm'}} <a class="" data-target="#editModal" ng-click="$parent.eventToEdit = eventT" data-toggle="modal" style="cursor: hand;"><img src="assets/img/list_edit.png" alt="Edit" style="width:16px;height:16px;"></a><a class="" data-toggle="modal" data-target="#removeModal" style="cursor: hand;" ng-click="$parent.eventToRemove = eventT"><img src="assets/img/list_remove.png" alt="Remove" style="width:16px;height:16px;"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
                <div id="removeModal" class="modal fade" role="dialog">
                <div class="modal-dialog" style="margin-top: 50px;">
                    <div class="modal-content boxed">
                        <div class="modal-header">
                            <p>Are you sure you want to remove {{eventToRemove.name}} event?</p>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-danger" ng-click="removeEvent(eventToRemove.id)">Delete</button>
                            <button type="button" class="btn" ng-click="closeMyPopup()">Cancel</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
                        <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Create new event</h3>
                                </div>
                                <div class="modal-body">
                                    <form name="eventSubmit" ng-submit="createEvent(name,enteredDay, enteredMonth, enteredYear,loc,priority,repeat,availability, hour, minute)">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Name</label>
                                            <input id="name" class="form-control" type="text" ng-model="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="enteredDay" class="control-label">Day</label>
                                            <input id="enteredDay" class="form-control" type="number" min="0" max="31" step="1" value="10" ng-model="enteredDay">
                                            <label for="enteredMonth" class="control-label">Month</label>
                                            <input id="enteredMonth" class="form-control" type="number" min="0" max="12" step="1" value="10" ng-model="enteredMonth">
                                            <label for="enteredYear" class="control-label">Year</label>
                                            <input id="enteredYear" class="form-control" type="number" min="0" max="2100" step="1" value="2015" ng-model="enteredYear">

                                        </div>
                                        <div class="form-group">
                                            <label for="hour" class="control-label">Hours</label>
                                            <input id="hour" class="form-control" type="number" min="0" max="23" step="1" value="10" ng-model="hour">
                                            <label for="minute" class="control-label">Minutes</label>
                                            <input id="minute" class="form-control" type="number" min="0" max="59" step="1" value="10" ng-model="minute">
                                        </div>
                                        <div class="form-group">
                                            <label for="loc" class="control-label">Location</label>
                                            <input id="loc" class="form-control" type="text" ng-model="loc">
                                        </div>
                                        <div class="form-group">
                                            <label for="priority" class="control-label">Priority</label>
                                            <input id="priority" class="form-control" type="number" min="0" max="10" step="1" value="9" ng-model="priority" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="availability" class="control-label">Availability</label>
                                            <select id="availability" class="form-control" ng-model="availability">
                                                <option value="busy">busy</option>
                                                <option value="free">free</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                          <div class="checkbox">
                                            <label><input id="repeat" type="checkbox" value=""  ng-model="repeat">Repeat</label>
                                          </div>
                                        </div>
                                        <input class="btn btn-success btn-lg btn-md" type="submit" value="Create">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="editModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- EDIT EVENT DIALOG -->
                    <div class="modal-content boxed">
                        <div class="modal-header">
                            <h3>Edit the event {{eventToEdit.name}}</h3>
                        </div>
                        <div class="modal-body">
                                <form name="eventEdit" ng-submit="editEvent(eventToEdit.id, editName, editDay, editMonth, editYear, editLoc, editPriority, editRepeat, editAvailability, editHour, editMinute)">
                                    <div class="form-group">
                                        <label for="editName" class="control-label">Name</label>
                                        <input id="editName" class="form-control" type="text" ng-model="editName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="editDay" class="control-label">Day</label>
                                        <input id="editDay" class="form-control" type="number" min="0" max="31" step="1" value="10" ng-model="editDay">
                                        <label for="editMonth" class="control-label">Month</label>
                                        <input id="editMonth" class="form-control" type="number" min="0" max="12" step="1" value="10" ng-model="editMonth">
                                        <label for="editYear" class="control-label">Year</label>
                                        <input id="editYear" class="form-control" type="number" min="0" max="2100" step="1" value="2015" ng-model="editYear">

                                    </div>
                                    <div class="form-group">
                                        <label for="editHour" class="control-label">Hours</label>
                                        <input id="editHour" class="form-control" type="number" min="0" max="23" step="1" value="10" ng-model="editHour">
                                        <label for="editMinute" class="control-label">Minutes</label>
                                        <input id="editMinute" class="form-control" type="number" min="0" max="59" step="1" value="10" ng-model="editMinute">
                                    </div>
                                    <div class="form-group">
                                        <label for="editLoc" class="control-label">Location</label>
                                        <input id="editLoc" class="form-control" type="text" ng-model="editLoc">
                                    </div>
                                    <div class="form-group">
                                        <label for="editPriority" class="control-label">Priority</label>
                                        <input id="editPriority" class="form-control" type="number" min="0" max="10" step="1" value="9" ng-model="editPriority" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="editAvailability" class="control-label">Availability</label>
                                        <select id="editAvailability" class="form-control" ng-model="editAvailability">
                                            <option value="busy">busy</option>
                                            <option value="free">free</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                      <div class="checkbox">
                                        <label><input id="editRepeat" type="checkbox" value=""  ng-model="editRepeat"></label>
                                      </div>
                                    </div>
                                    <input class="btn btn-success btn-lg btn-md" type="submit" value="Edit">
                                </form>
                            </div>
                    </div>
                <!-- DIALOG END -->
                </div>
            </div>


</div>
