<div class="container row" ng-controller="SignupCtrl">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6
    col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top: 140px">
        <div id="login-container" class="transp_signup">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vbottom">
                    <h3 class="form-signin-heading">Fill in your details</h3>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vbottom"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vbottom">
                    <a href="#/login" >Log in</a>
                </div>
            </div>
            <form name="signupForm" ng-submit="signup(username, email, password, password2);" class="form-vertical" role="form" data-toggle="validator">
                <div class="form-group has-feedback">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="" ng-model="username" required pattern="^[_A-z0-9]{4,}$" maxlength="20">
                    <div class="help-block with-errors"></div>
                    <span class="help-block">Minimum of 4 characters</span>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input id="email" type="email" class="form-control" name="email" ng-model="email" data-error="Email address is invalid">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" type="password" class="form-control" name="password" ng-model="password" required pattern="^[_A-z0-9]{5,}$" maxlength="30">
                    <span class="help-block">Minimum of 5 characters, allows letters, numbers and underscore</span>
                </div>
                <div class="form-group">
                    <label for="password2" class="control-label">Confirm password</label>
                    <input id="password2" type="password" class="form-control" name="password2" placeholder="" ng-model="password2" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

