.menu
  ul.nav.nav-pills
    if (locals.logged)
      li(class=(menu === 'index') ? 'active' : '')
        a(href='/calendar') Calendar
    else
      li(class=(menu === 'index') ? 'active' : '')
        a(href='/') Home
    if (locals.logged)
      li(class=(menu === 'login')? 'active' : '')
        a(href="/login/logout") Log out
    else
      li(class=(menu === 'login')? 'active' : '')
        a(href='/login') Log in