<!-- client/index.html -->
<!DOCTYPE html>
<html ng-app="CalendarApp">
    <head>
        <meta charset="utf-8">
        <title>Welcome to CalendarApp</title>
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="assets/css/custom.css"/>
    </head>
    <body ng-controller="MainCtrl as main">
        <div class="navbar navbar-fixed-top navbar-default">
            <div class="navbar-header">
                <a class="logo navbar-brand" href="#/">
                <img class=".img-responsive" src="assets/img/calendarapp2.png">
                </a>
            </div>
            <div class="btn-group pull-right" ng-show="main.loggedUser">
                <a class="btn btn-danger" href="#/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
                <a class="btn btn-danger" href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
                <button class="btn btn-default" ng-click="main.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                </button>
                <!-- ... -->
            </div>
        </div>
        <div class="container" ng-view="">

        </div>
        <div class="container" ng-controller="MessageCtrl as messageCtrl" style="margin-top: 20px">
            <div ng-show="messageCtrl.message.show" class="fade in" ng-class="messageCtrl.message.class">
                <a href="" ng-click="messageCtrl.dismiss();" class="close" data-hide="alert">&times;</a>
                    <strong>{{messageCtrl.message.title}}</strong> {{messageCtrl.message.text}}
            </div>
        </div>
        <script src="assets/js/head.load.min.js"></script>
        <script src="assets/js/boot.js"></script>
    </body>
</html>
<!-- HTML -->
