<div class="container row" ng-controller="UserCtrl">
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6
    col-xs-offset-2 col-sm-offset-6 col-md-offset-3 col-lg-offset-3" style="margin-top: 70px">
        <div class="user-wrapper">
            <h2>Your profile</h2>
            <form name="updateForm" ng-submit="update(email)" class="form-vertical" role="form" data-toggle="validator">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder={{username}} ng-model="username" disabled>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input id="email" type="email" class="form-control" name="email" placeholder={{email}} ng-model="email" data-error="Email address is invalid">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <input class="btn btn-primary btn-lg" type="submit" value="&#x270e Update">
                </div>
            </form>
        </div>
    </div>
</div>