<div class="container row" ng-controller="LoginCtrl">
    <div class="form-signin col-xs-12 col-sm-8 col-md-6 col-lg-6
    col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top: 140px">
        <div id="login-container" class="transp_form">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vbottom">
                    <h2 class="form-signin-heading">Please log in</h2>
                </div>
                <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 vbottom"></div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 vbottom">
                    <a href="#/signup" >sign up</a>
                </div>
            </div>
            <form name="login.loginForm" ng-submit="login(username, password)">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" class="form-control" type="text" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" class="form-control" type="password" ng-model="password">
                </div>
                <input class="btn btn-success btn-lg btn-block btn-primary" type="submit" value="Log in">
            </form>
        </div>
    </div>
</div>

