body {
    background-image: url("../img/denim.png");
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: -2px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: -2px;
}
.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    margin: -2px;
}

.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.calendar {
    float: left;
    display: block;
. border-box;
    background: white;
    width: 500px;
    border: solid 1px;
    margin-bottom: 10px;
}

div.header {
        float:left;
        width:100%;
        background: #c71b1e;
        height:40px;
        color:white;
}

div.header span {
    font-size: 1.5em;
}


div.header *{
   .vertical-centre(40px);
}

div.header i{
      float:left;
      width:40px;
      font-size: 2em;
      font-weight:bold;
      position:relative;
      .border-box;
      padding:10px
      cursor:pointer;
}

div.header i.fa-angle-left {
            text-align:left;
            cursor: pointer; cursor: hand;
        }

div.header i.fa-angle-right {
            text-align:right;
            margin-left:-40px;
            cursor: pointer; cursor: hand;
        }

div.header span {
            float:left;
            width:100%;
            font-weight:bold;
            text-transform:uppercase;
            .border-box;
            padding-left:50px;
            margin-left:-40px;
            text-align:center;
            padding-right:40px;
            color:inherit;
        }


div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #CCC;
}

div.week:first-child{
    border-top:none;
}

div.week span.day {
    float: left;
    width: 14.28%;
. border-box;
    border-left: solid 1px #CCC;
    font-size: 1.5em;
    text-align: center;
. vertical-centre(30 px);
    background: white;
    cursor: pointer;
    color: black;
}

div.week span.day:first-child {
                border-left:none;
}

div.week span.day.today{
    background:#E3F2FF;
}

div.week span.day.different-month {
    color:#C0C0C0;
}
div.week span.day.selected {
                background: #c71b1e;
                color:white;
            }

div.week span.day.interesting {
-webkit-box-shadow: inset -24px -23px 0px -22px rgba(235,126,123,1);
-moz-box-shadow: inset -24px -23px 0px -22px rgba(235,126,123,1);
box-shadow: inset -24px -23px 0px -22px rgba(235,126,123,1);
            }



div.week.names>span {
            color:#c71b1e;
            font-weight:bold;
}

div.boxed {
    background: #f4f5f1;
    box-shadow: -10px 10px 2px #888888;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

.list {
    list-style-type: none;
    float: left;
    margin: 60px 5px 80px;
    padding: 4px 3px 3px 3px;
    position: relative;
    width: 300px;
}

.transp {

    height: 400px;
    padding: 15px 20px 15px 15px;
    margin: 15px auto 40px auto;

    border: 1px solid #DDD;
    background: #FFF;
    background: linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -o-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -ms-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -moz-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -webkit-linear-gradient(#F6F6F6 0, #FFF 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.transp_form {

    height: 300px;
    padding: 15px 20px 15px 20px;
    margin: 15px auto 30px auto;

    border: 1px solid #DDD;
    background: #FFF;
    background: linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -o-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -ms-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -moz-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -webkit-linear-gradient(#F6F6F6 0, #FFF 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.transp_signup {

    height: 500px;
    padding: 15px 20px 15px 20px;
    margin: 15px auto 30px auto;

    border: 1px solid #DDD;
    background: #FFF;
    background: linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -o-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -ms-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -moz-linear-gradient(#F6F6F6 0, #FFF 50px);
    background: -webkit-linear-gradient(#F6F6F6 0, #FFF 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}