doctype html
html
  head
    title= title
    script(type="text/javascript", src="/js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/passtest.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
  body(ng-app='app')
    script.
     var app = angular.module('app',[])
       app.controller('IndexCtrl', function ($scope, $http){
         $scope.messages = [
         {
           title: 'Welcome',
           message: ' to the calendar app!'
         },
         {
           title: 'You',
           message: ' can now log in.'
         }
         ]
       })
    div#wrap
      div.container
        h1.page-header= pageTitle
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
     block footer
      footer
        .container
          p
            | Made by Ligia Gaspar and Amir Mairbekov.