extends layout

block page
- var menu = 'login'

block content
  script.
     var app = angular.module('app',[])
       app.controller('LoginCtrl', function ($scope, $http){
         $scope.logIn = function() {
           $http.post('/login', {
            username: 'a',
            password: 'a'
           }).success(function (post) {

           })
         }
       })


  .col-md-4.col-md-offset-4
    h2 Log in
    div= error
    div
      form(action="/login", method="POST")
        p
          input.form-control(name="username", type="text", placeholder="username")
        p
          input.form-control(name="passwd", type="password", placeholder="strong password")
        p
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in
    div
      a(href=locals.address+"/login/signup") Sign up
    div= users
    div
      if locals.logged
        p You are logged in.
      else
        p You are not logged in.
