extends layout
block page
- var menu = 'login'

block content
  .col-md-4.col-md-offset-4
    h2 Log in
    div= error
    div
      span#confirmMessage.confirmMessage
      form#signup(action="/login/signup", method="POST")
        p
          label(for='username',class='control-label') Username
          input.form-control(name="username", type="text", placeholder="hi@gmail.com")
        p
          label(for='passwd',class='control-label') Password
          input#passwd.form-control(name="passwd", type="password", placeholder="")
        p
          label(for='passwd2',class='control-label') Retype password
          input#passwd2.form-control(name="passwd2", type="password", placeholder="")
        p
          label(for='email',class='control-label') Your email address
          input.form-control(name="email", type="text", placeholder="account@gmail.com")
        p
          button#submit.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up