extends ../layout

block content
    h1.
        Event ID #{event._id}
    form(action='/events/#{event._id}/edit',method='post',name='updateevent',enctype='application/x-www-form-urlencoded')
        p Name: 
            input#inputName(type='text', value='#{event.name}', name='name')
        p Date: 
            input#inputDate(type='date', value='#{eventdate}', name='date')
        p Priority: 
            input#inputPriority(type='number', value='#{event.priority}', name='priority')
        p Repeat: 
            input#inputRepeat(type='checkbox', name='repeat', checked=('#{event.repeat}'==='true' ? "checked" : undefined))
        p Location: 
            input#inputLocation(type='text', value='#{event.loc}', name='loc')
        p Availability: 
            input#inputAvailability(type='text', value='#{event.availability}', name='availability')
        p Status: 
            input#inputStatus(type='text', value='#{event.sts}', name='sts')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update