extends ../layout

block content
    h1.
         #{title}
    ul
        - each event, i in events
            li
                = event.name
                = event.date
                = event.loc
                = event.priority
                = event.status
                = event.repeat
                = event.availability
                = event._id
                form(action='/events/#{event._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/blobs/#{event._id}/edit') Edit
                p
                    a(href='/blobs/#{event._id}') Show