extends ../layout

block content
    h1.
        #{title}
    form#formAddEvent(name="addevent",method="post",action="/events")
        p Name: 
            input#inputName(type="text", placeholder="ex. John Smith", name="name")
        p Date: 
            input#inputDate(type="date", name="date")
        p Location: 
            input#inputLocation(type="text", name="loc")
        p Priority: 
            input#inputPriority(type="text", name="priority")
        p Status: 
            input#inputStatus(type="text", name="sts")
        p Repeat: 
            input#inputRepeat(type="checkbox", name="repeat")
        p Availability: 
            input#inputAvailability(type="text", name="availability")
        p
            button#btnSubmit(type="submit") submit