extends ../layout

block content
    h1.
        Info #{event._id}
    p Name: #{event.name}
    p Date: #{eventdate}
    p Priority: #{event.priority}
    p Status: #{event.sts}
    p Repeat: #{event.repeat}
    p Availability: #{event.availability}
    p Location: #{event.location}
    p Is Loved: #{blob.isloved}